{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css ' %} ">
    <title>First Home Page</title>
    <script src="{% static 'JavaS.js' %}" language="JavaScript" type="text/javascript">
    </script>
</head>

<body>
    <header title="you are amazing">
        <h1 class="NoPadding_h">Welcome In Our Home Page</h1>
    </header>
    <main style="background-color: aquamarine;" ">
        <center>
        <div class="firstHomePage "> 
            <div>
                <a href="MyHomePage.html " ><img src="{% static 'student_Affairs.jpg ' %} " alt="Students Affairs ">
        </a>
        <h1><a href="MyHomePage.html ">Student Affairs</a></h1>
        <p> Our web site</p>
        </div>
        <div>
            <a href=" "><img src="{% static 'human_resources.jpg' %} " alt="Human Resources "></a>
            <h1><a href=" ">Human Resources</a></h1>
            <p> Human Resources WebSite</p>
        </div>
        <div>
            <a href=" "><img src="{% static 'higher_studies.jpg' %} " alt="Higher Studies "></a>
            <h1><a href=" ">Higher Studies </a></h1>
            <p> Higher studies WebSite </p>
        </div>
        <div>
            <a href=" "><img src="{% static 'Laboratory_tracking .jpg' %} " alt="Laboratory Tracking "></a>
            <h1><a href=" ">Laboratory Tracking </a></h1>
            <p> Laboratory Tracking WebSite </p>
        </div>


        </div>
        </center>
    </main>
</body>

</html>