{% load static%}
<h1> Student Information</h1>
<label> Firstname </label> <br>
<input type="text " name="firstname " value="{{ x.first_name }}" disabled="true " /><br><br>

<label> Lastname </label><br>
<input type="text " name="lastname " value="{{ x.last_name }}" size="30 " disabled="true " /><br><br>

<label> Mail </label><br>
<input type="email " name="email " value=" {{ x.mail }} " size="30 " disabled="true "> <br><br>

<label> Phone Number </label><br>
<input type="text " name="phone " value="{{ x.phone}}" size=" 30 " disabled="true "> <br><br>

<label> ID </label><br>
<input type="text " name="ID " id="SID" value="{{ x.id }} " size="10 " disabled="true "> <br><br>

<label> Gender : </label><br>
<input type="text " name="gender " value=" {{ x.gender }} " disabled="true ">
<br><br>

<label>Date Of Birth</label><br>
<input type="date " name="date of birth " value="{{ x.date_of_birth}} " disabled="true "><br><br>

<label>Level</label><br>
<input type="number " name="Level " value="{{ x.level}} " disabled="true "><br><br>


<label> GPA </label><br>
<input type="number " name="GPA " value="{{ x.gpa}} " disabled="true "><br><br>



<label> Department </label><br>
<input type="text " name="dep " value="{{ x.department}} " size="20 " disabled="true "> <br><br>

<label> Status : </label><br>
<input type="text " value="{{ x.status}} " name="Status " disabled="true ">
<br><br>
<button type="button " class="registerbtn " style="width: 250px;background-color:rgb(192, 8, 8) " onclick="confDelete() ">Remove Student</button>